aiomysql==0.0.22
anyio==3.5.0
asgiref==3.5.0
autopep8==1.6.0
bcrypt==3.2.0
cffi==1.15.0
click==8.0.4
colorama==0.4.4
databases==0.5.5
fastapi==0.75.0
fastapi-utils==0.2.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
passlib==1.7.4
pip==22.0.4
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyMySQL==0.9.3
python-dotenv==0.19.2
setuptools==41.2.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
toml==0.10.2
typing_extensions==4.1.1
uvicorn==0.17.6