aiohttp==3.8.0
aiomysql==0.0.22
aiosignal==1.2.0
anyio==3.3.4
asgiref==3.4.1
async-timeout==4.0.0
attrs==21.2.0
backports.entry-points-selectable==1.1.1
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
databases==0.5.3
distlib==0.3.4
fastapi==0.70.0
fastapi-jwt-auth==0.5.0
filelock==3.4.0
frozenlist==1.2.0
geographiclib==1.52
greenlet==1.1.2
h11==0.12.0
idna==3.3
importlib-resources==5.4.0
JsonForm==0.0.2
jsonschema==4.2.1
JsonSir==0.0.2
multidict==5.2.0
oauthlib==3.1.1
passlib==1.7.4
pip==22.0.4
platformdirs==2.4.0
powerline-status==2.7
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyhumps==3.0.2
PyJWT==1.7.1
PyMySQL==0.9.3
pyrsistent==0.18.0
python-dotenv==0.19.1
Python-EasyConfig==0.1.7
python-multipart==0.0.5
PyYAML==6.0
setuptools==41.2.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
virtualenv==20.10.0
watchgod==0.7
websockets==10.0
yarl==1.7.2
zipp==3.6.0